services:
  dokuwiki:
    image: lscr.io/linuxserver/dokuwiki:latest
    container_name: dokuwiki
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
    volumes:
      - ./config:/config
    ports:
      - ${WIKI_PORT}:80 # wiki port
      #- 443:443 # Optional: Required if you enable HTTPS inside the container
    restart: unless-stopped